{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
  <div class="object-tools d-flex align-items-center gap-2" style="margin-right: 10px;">
    <div>
      <a href="{% url 'admin:jidelnicek_import_txt' %}"
         class="button"
         style="background-color:#0d6efd;
                border-color:#0d6efd;
                color:#fff;
                padding:6px 12px;
                border-radius:4px;
                text-decoration:none;">
        📄 Import TXT jídelníčku
      </a>
    </div>
    {{ block.super }}
  </div>
{% endblock %}
